{% extends 'base.html' %}

{% block title %}
Головна
{% endblock %}

{% block body %}
<div class="container pricing-header p-3 pb-md-4 mx-auto text-center default_cursor_cs">
      <h1 class="display-4 fw-normal default_cursor_cs">Pricing</h1>
      <p class="fs-5 text-muted default_cursor_cs">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
    </div>
<div class="container col default_cursor_cs">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Free</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$0<small class="text-muted fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>10 users included</li>
              <li>2 GB of storage</li>
              <li>Email support</li>
              <li>Help center access</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</button>
          </div>
        </div>
      </div>
<div class="container col default_cursor_cs">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Free</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$0<small class="text-muted fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>10 users included</li>
              <li>2 GB of storage</li>
              <li>Email support</li>
              <li>Help center access</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</button>
          </div>
        </div>
      </div>
<div class="container col default_cursor_cs">
        <div class="card mb-4 rounded-3 shadow-sm border-primary default_cursor_cs">
          <div class="card-header py-3 text-bg-primary border-primary default_cursor_cs">
            <h4 class="my-0 fw-normal default_cursor_cs">Enterprise</h4>
          </div>
          <div class="card-body default_cursor_cs">
            <h1 class="card-title pricing-card-title default_cursor_cs">$29<small class="text-muted fw-light default_cursor_cs">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li class="default_cursor_cs">30 users included</li>
              <li class="default_cursor_cs">15 GB of storage</li>
              <li class="default_cursor_cs">Phone and email support</li>
              <li class="default_cursor_cs">Help center access</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary default_pointer_cs">Contact us</button>
          </div>
        </div>
      </div>
{% endblock %}